@layer base {
  :root {
    --gradient-height: 64px;
    --gradient-opacity-start: 0.4;
    --default-angle: 150deg;
    --overlay-gradient: linear-gradient(
      to bottom, 
      rgb(0 0 0 / var(--gradient-opacity-start)) 0%, 
      rgb(0 0 0 / 0) var(--gradient-height)
    );
  }

  .bg-gradient { background-image: var(--overlay-gradient); }

  .bg-gradient-white  { background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #ECF0FE, #EEF2FF); }
  .bg-gradient-red    { background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #D3023B, #FF0047); }
  .bg-gradient-orange { background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #EA3A00, #EB5400); }
  .bg-gradient-yellow { background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #F09B00, #FAAF03); }
  .bg-gradient-green  { background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #188D37, #0AB036); }
  .bg-gradient-blue   { background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #1459A8, #105EB8); }
  .bg-gradient-purple { background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #6D02A8, #3E005E); }
  .bg-gradient-violet { background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #B0006B, #870052); }
  .bg-gradient-pink   { background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #DC0086, #B0006B); }
}
