@layer base {
  :root {
    --gradient-height: 64px;
    --gradient-opacity-start: 0.24;
    --default-angle: 150deg;
    --overlay-gradient: linear-gradient(
      to bottom, 
      rgb(0 0 0 / var(--gradient-opacity-start)) 0%, 
      rgb(0 0 0 / 0) var(--gradient-height)
    );
  }

  .bg-gradient { background-image: var(--overlay-gradient); }

  .bg-gradient-white  { background-image: linear-gradient(var(--default-angle), #ECF0FE, #EEF2FF); }
  .bg-gradient-black  { background-image: linear-gradient(var(--default-angle), #131015, #110E11); }

  .bg-gradient-red    { border-top: 1px solid rgba(0,0,0,0.64); background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #D3023B, #FF0047); }
  .bg-gradient-orange { border-top: 1px solid rgba(0,0,0,0.64); background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #EA3A00, #EB5400); }
  .bg-gradient-yellow { border-top: 1px solid rgba(0,0,0,0.64); background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #F09B00, #FAAF03); }
  .bg-gradient-green  { border-top: 1px solid rgba(0,0,0,0.64); background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #188D37, #0AB036); }
  .bg-gradient-blue   { border-top: 1px solid rgba(0,0,0,0.64); background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #1459A8, #105EB8); }
  .bg-gradient-purple { border-top: 1px solid rgba(0,0,0,0.64); background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #6D02A8, #3E005E); }
  .bg-gradient-violet { border-top: 1px solid rgba(0,0,0,0.64); background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #B0006B, #870052); }
  .bg-gradient-pink   { border-top: 1px solid rgba(0,0,0,0.64); background-image: var(--overlay-gradient), linear-gradient(var(--default-angle), #DC0086, #B0006B); }

  .bg-gradient-pink-bottom {
    background-image: 
      var(--overlay-gradient),
      linear-gradient(to top, rgb(0 0 0 / var(--gradient-opacity-start)) 0%, rgb(0 0 0 / 0) var(--gradient-height)),
      linear-gradient(var(--default-angle), #DC0086, #B0006B);
  }

}
